/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.7;
  color: #777;
  padding: 10px;
}

/* --------------heading--------------- */
.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      hsla(111, 55%, 64%, 0.8),
      hsla(160, 64%, 43%, 0.8)
    ),
    url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  clip-path: polygon(0 0, 100% 0, 100% 91%, 0% 100%);
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 1rem;
}

.heading-primary--main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.heading-primary--sub {
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 1rem;
  display: block;
  animation: moveInRight ease-out 1s;
}

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* ---------logo---------------- */
.logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}
.logo {
  height: 35px;
}

/* ---------button---------------- */
.btn:link,
.btn:visited {
  background-color: #fff;
  color: #777;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 45px;
  display: inline-block;
  border-radius: 30px;
  transition: all 0.2s;
  position: relative;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translate(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.4s;
}

.btn-green {
  background-color: #55c57a;
}

.btn-white::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scale(1.5);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

/*------------------- Discover Page ----------------- */
.discover {
  margin-top: 2rem;
  height: 60vh;
  position: relative;
  overflow: hidden;
}

.discover-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.discover-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
}

.discover-desc {
  display: block;
  font-size: 1rem;
  font-weight: 300;
  color: black;
  letter-spacing: 0.1rem;
  text-align: center;
}
/* -----------Third Page------------- */

.officers {
  position: relative;
  height: 95vh;
  background-size: cover;
  background-attachment: fixed;
  background-image: linear-gradient(
    to right bottom,
    hsla(111, 55%, 64%, 0.9),
    hsla(160, 64%, 43%, 0.9)
  );
  clip-path: polygon(0 8%, 100% 0, 100% 90%, 0% 100%);
}

/* slides experimental  */
#officersCarousel {
  width: 75vw;
  height: 60vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
}

.carousel-item > img {
  width: 75vw;
  height: 60vh;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

/* ---------JOIN US --------------- */
.action {
  height: 95vh;
  position: relative;
}

.join {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 4fr;
  align-items: center;
}

.join-img {
  width: 12rem;
}

.join-resource > h2 {
  font-size: 4rem;
}

.join-resource > p {
  font-size: 1.2rem;
}

#join-btn {
  background-color: #55c57a;
  color: white;
}

/* ----Footer------ */
footer {
  width: 100%;
  height: 60px;
  text-align: center;
  font-size: 1rem;
}

/*----------------------Animations---------------------- */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 576px) {
}
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
